#pizzaDetail {
  display: none;
}

body {
  margin: 20px;
  background-color: #9bfdff;
}

.jumbotron {
  text-align: center;
  background-color: red;
  color: black;
}

.pizzaOrder {
  cursor: pointer;
  color: #0088cc;
}

.pizzaOrder:hover {
  text-decoration: underline;
}
